<div class="container-fluid">
    <h1 class="text-center">{{user.firstName}}'s Profile</h1>
    <p>Profile data should be displayed on this page. This includes win percentage, recent games played.
    </p>

    <h4>Profile Statistics</h4>
    <table id='profile-stats-wins'>
        <tr class='table-header'>
            <td>Win Total</td>
            <td>Total Games</td>
            <td>Win Percentage</td>
        </tr>
        <tr>
            <td>{{user.gamesWonIDs.length}}</td>
            <td>{{total}}</td>
            <td>{{win}}%</td>

        </tr>
    </table>

    <h4>Recent Games</h4>
    <table id='profile-stats-recent'>

        <tr class='table-header'>
            <td>Word</td>
            <td>W/L</td>
        </tr>

        {{#each recentGames}}
        <tr>
            <td>{{this.word}}</td>
            {{#if (containsWinner ../user this._id)}}
            <td>Won {{user.firstName}}</td>
            {{else}}
            <td>Lost</td>
            {{/if}}
        </tr>
        {{/each}}

    </table>
</div>